.Heading {
    background-color: rgb(192, 242, 179);
    padding: 20px;  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin: 2%;
    height: 200px;
    width: 90%;
    text-align: center;
    
}
            

.heading {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;                        
    color: darkblue;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    

}
.para {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    font-family: 'Georgia', serif;
    margin-top: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.content {
     text-align: center;
    color: darkblue;
    background-color: pink;
    padding: 20px;  
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 300px;
    width: 90%;
}
.sub-content {
    background-color: rgb(192, 242, 179);
    float: left;
    border: 2px solid #5F8B4C;
    margin: 2%;
    border-radius: 25px;
    box-shadow: 10 px 10px 5px grey;
    width: 25%;
    height: 35%;
    margin: 60px;
    text-align: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: darkblue;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    

}
#para1 {
    color: red;
    
    
}
#para2 {
    color: green;

   
}