
.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: #fda92b;
  border-radius: 15px;
  box-shadow: 0 0 10px #000000;
  padding: 20px;

}


.Parent {

  width: 45%;
  background-color: #FFE100;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: #463f2d 0px 0px 5px;
}


.child {
  float: left;
  margin-bottom: 20px;
  width: 45%;
    background-color: #ffe680;
    box-sizing: border-box;
    border: solid #ffc900 3px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    box-sizing: border-box;
    height: 200px;
    align-items: center;
    
}

