div.Parent {
  width:100%;
  overflow:auto;
    margin:auto;
    box-sizing: border-box;
    padding: 10px;
    background-color: #898AC4;
   

}
.box {
  width:31%;  
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
    background-color: #C4C4E6;
    border-radius: 15px;
    box-shadow:  0 0 10px #000000;
    color: #000000;
    text-shadow: 1px 1px 2px #ffffff;
    display: inline-block;
    margin: 10px;

  
}

.Parent::after {
  content: "";
  display: table;
  clear: both;
}

article ul li {
  list-style-type: none;
  position: relative;
  padding-left: 1.5em;
}
article ul li::before {
  content: "➤";
  position: absolute;
  margin-left: -1.5em;
}

.Parent {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.box {
  flex: 1;
}

