.margin {
 
 display: inline-grid;
 grid-template-columns: auto auto auto;
 background-color: white;
 border: 1px solid #56021F;
 margin-left: 63px;
 margin-top: 25px;

 
}

.marginleft {
   
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #FF9A9A;
  padding: 10px;
  text-align: center;
  border: 1px solid #56021F;
  height: 45px;
  width: 55px;
}
.left {
  margin-left: 5px;
  border: 1px solid #56021F;
  background-color: #FF9A9A;
}
.right {
  margin-right: 5px;
  border: 1px solid #56021F;
  background-color: #FF9A9A;
}
.top {
  margin-top: 5px;
  border: 1px solid #56021F;
  background-color: #FF9A9A;
}
.bottom {
  margin-bottom: 5px;
  border: 1px solid #56021F;
  background-color: #FF9A9A;
}