.margin {
 border: 2px solid black;
 margin-bottom: 100px;
 margin: auto;
 padding: 20px;
  width: 1000px;
  float: left;

 

}

.marginleft {
    margin-left: 5px;
    padding: 5px;
    background: #fff;
    width: 45px;
    border: 1px solid #aaa;
    float: left;
}
