body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

.box {
    background: pink;
    padding: 15px;
    width: 60%;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

p {
    font-size: 18px;
    margin: 5px 0;
}

h3 {
    margin-top: 20px;
    color: #444;
}
