table{ background-color: palegreen;
        border-radius: 10px;
}




table{
    border-collapse: collapse;
        width: 100%;
    padding: 10px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
   
    }
    td, th{
      border: 1px solid black;

     }
    